<h4>Agregar Personaje</h4>

<form class="row d-inline-block" (ngSubmit)="addCharacter()">
  <input
    [(ngModel)]="character.name"
    name="name"
    class="form-control"
    type="text"
    placeholder="Name"
  />
  <input
    [(ngModel)]="character.power"
    name="power"
    class="form-control"
    type="number"
    placeholder="Powr"
  />
  <button type="submit" class="btn btn-primary m-2">Agregar</button>
</form>

<!-- <dl class="container">
  <td>NOMBRE:</td>
  <dd>{{ nombre }}</dd>
  <td>EDAD:</td>
  <dd>{{ edad }}</dd>
  <td>METODO:</td>
  <dd>{{ getHeroCambio() }}</dd>
  <td>CAPITALIZADO:</td>
  <dd>{{ heroCapitalizado }}</dd>

  <button
   
    class="btn btn-primary m-3"
    (click)="modificarNombre()"
  >
    Cambiar Nombre
  </button>

  <button *ngIf="edad !== 24" class="btn btn-primary" (click)="modificarEdad()">
    Cambiar Edad
  </button>
  <button *ngIf="edad !== 22" (click)="reset()" class="btn btn-primary m-2">
    Reset
  </button>
</dl> -->
