<h4>Listado</h4>
<ul class="list-group">
  <li
    *ngFor="let character of characterDbz; let i = index"
    class="list-group-item d-flex justify-content-between align-items-center"
  >
    <div>
      <span class="text-primary">{{ i + 1 }}</span>
      {{ character.name }} - Power:{{ character.power }}
    </div>
    <button (click)="onDeleteCharacter(character.id)" class="btn btn-danger">
      X
    </button>
  </li>
</ul>

<!-- let isFirst = first;
  let isLast = last;
  let isEven = even;
  let isOdd = odd -->
<!-- <span class="text-bg-secondary">Es el Primero: {{ isFirst }} , </span>
<span class="text-bg-secondary">Es el Ultimo: {{ isLast }}</span>
<hr>
<span class="text-bg-dark">Es Par: {{ isEven }}, </span>
<span class="text-bg-dark">Es Impar: {{ isOdd }} </span> -->

<!-- <div *ngIf="heroBorrado; else noSeBorro">
  <h3>
    Heroe Borrado: <small class="text-danger">{{ heroBorrado }}</small>
  </h3>
</div>

<ng-template #noSeBorro>
  <h4 class="text-danger">No se Borro</h4>
</ng-template>

<ul class="list-group">
  <li *ngFor="let name of heroesName" class="list-group-item">{{ name }}</li>
</ul>

<button
  (click)="deleteHero()"
  class="btn btn-outline-danger m-3"
  id="borrar"
>
  Borrar Ultimo Heroe
</button> -->
